---
const { title, summary, img, page} = Astro.props;
---

<a class="blog-card" href = {page}> 
    <h1>{title}</h1>
    <p>{summary}</p>
    <img src={img} alt = {title}/>
</a> 

<style>
    .blog-card {

        height: 15rem;
        width: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;

        font-size: 0.8rem;
        padding: 1rem;

        background-color: lightblue;
        border-top: 0.2rem solid blue;
        border-right: 0.2rem solid blue;
        border-bottom: 0.4rem solid blue;
        border-left: 0.4rem solid blue;

    }

    .blog-card:hover {

        background-color: blue;
        color: lavender;
        border-top: 0.2rem solid rgba(0, 0, 112);
        border-right: 0.2rem solid rgba(0, 0, 112);
        border-bottom: 0.4rem solid rgba(0, 0, 112);
        border-left: 0.4rem solid rgba(0, 0, 112);

    }

    img {

        height: 5rem;
        width: 5rem;

    }
</style>