---
const { title, summary, img, page} = Astro.props;
---

<a class="blog-card" href = {page}> 
    <h1>{title}</h1>
    <p>{summary}</p>
    <img src={img} alt = {title}/>
</a> 

<style>
    .blog-card {

        height: 22rem;
        width: 15rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;

        font-size: 0.8rem;
        padding: 1rem;
        gap: 1rem;

        background-color: rgb(200, 222, 255);
        border-top: 0.2rem solid rgba(0, 51, 179, 1);
        border-right: 0.2rem solid rgba(0, 51, 179, 1);
        border-bottom: 0.4rem solid rgba(0, 51, 179, 1);
        border-left: 0.4rem solid rgba(0, 51, 179, 1);

        img {

            border: none;
            width: 80%;
            height: auto;

            padding: 0.3rem;
            border: 0.2rem solid rgba(0, 51, 179, 1);

        }

    }

    .blog-card:hover {

        background-color: rgba(0, 70, 174, 1);
        color: rgba(191, 217, 255, 1);
        border-top: 0.2rem solid rgba(0, 0, 112);
        border-right: 0.2rem solid rgba(0, 0, 112);
        border-bottom: 0.4rem solid rgba(0, 0, 112);
        border-left: 0.4rem solid rgba(0, 0, 112);

        img {

            border: 0.2rem solid rgba(191, 217, 255, 1);

        }

    }

</style>